# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Project specific
frames/
*.mp4
*.avi
*.mov
*.mkv
